[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = TW
ST = Taipei
L = TaipeiCity
O = VMwareTaiwan
OU = hphil
CN = *.tanzu.local

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment

[ v3_ca ]
basicConstraints = critical,CA:TRUE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer:always

[alt_names]
DNS.1 = harbor.tanzu.local
DNS.2 = *.tanzu.local
DNS.3 = tanzu.local
DNS.4 = vmware.local
DNS.5 = *.vmware.local